body:not(#mobile) > header {
  position: sticky;
  top: -40px;
  top: 0px;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px 4px 9px -5px rgb(0 0 0 / 20%);

  & > div:last-child {
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    
    button.btn {
      color: var(--primary);
      background-color: #ffcd00;
      font-weight: 700;
      border-radius: 90px;
    }

    & > ul {
      gap: 16px;

      a {
        text-decoration: none;
        color: var(--primary);
        position: relative;

        & > .badge {
          position: absolute;
          background-color: #ffcd00;
          clip-path: circle();
          left: 10px;
          top: -4px;
        }
      }
    }
  }
}

body#mobile > header {
  background-color: #fff;
  box-shadow: 0px 4px 9px -5px rgb(0 0 0 / 20%);
  & > div:last-child {
    grid-template-columns: auto 1fr auto;
    gap: 6px;

    & > .btn {
      outline: none;
      border: none;
    }
  }
}

header .DD {
  position: relative;
  cursor: pointer;

  --translateY: 10px;
  --opacity: 0;
  --visibility: hidden;
  --scale:0;
  
  &:hover {
    --visibility: visible;
    --opacity: 1;
    --scale:1;
    --translateY: 0px;
  }

  & > ul {
    scale: var(--scale);
    opacity: var(--opacity);
    visibility: var(--visibility);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background: #fff;
    width: max-content;
    z-index: 10;
    border: 1px solid #edf5ff;
    border-radius: 12px;
    overflow: hidden;
    // transform: translateX(-50%) translateY(var(--translateY));
    transition: all 0.15s ease-out;
    transform-origin: top left;

    & > li {
      cursor: pointer;
      transition: background-color 0.15s ease-out;
      &:hover {
        background-color: #edf5ff;
      }
    }
  }
}
