#moon-sections {
  background-image: url("../../../../public/assets/Frame.png");
  background-repeat: repeat;
  background-size: contain;

  & > div {
    & > div {
      text-align: center;
      font-weight: bold;
      width: 100%;

      & > a {
        color: var(--primary);
        text-decoration: none;
        border: 1px solid #cfe4f4;
        border-radius: 12px;
        min-height: 160px;
        width: 200px;
        max-width: 47%;
        transition: background-color 150ms linear;

        & > img {
          max-height: 100px;
        }

        &:hover {
          background-color: #ecf5ff;
        }
      }
    }

    & > a {
      border-bottom: 1px solid currentColor;
      padding: 0 0 2px;
    }
  }
}
