#moon-sections {
  & > div {
    text-align: center;
    font-weight: bold;
    gap: 12px 8px;
    width: 100%;

    & > a {
      color: var(--primary);
      text-decoration: none;
      padding: 8px 45px;
      border: 1px solid #cfe4f4;
      border-radius: 12px;
      min-height: 160px;
      max-width: 200px;
      width: 100%;
      gap: 8px;
      transition: background-color 150ms linear;

      & > img {
        max-height: 100px;
      }

      &:hover {
        background-color: #ecf5ff;
      }
    }
  }

  & > a {
    border-bottom: 1px solid currentColor;
    padding: 0 0 2px;
  }
}
