<<<<<<< HEAD
main {
  & > #cart-breadcrumb {
    color: var(--midgray);

    & > li:last-child {
      color: #bdbdbd;
    }
  }

  & > #cart {
    & > ul {
      flex: 1 0 65%;
      color: var(--primary);
      border: 1px solid #f8f8f8;
      border-radius: 24px;
      grid-template-columns: max(30px, 23%) repeat(4, 1fr);
      grid-template-rows: max-content;

      hr {
        border-color: #f8f8f8;
        opacity: 1;
      }

      & > li {
        align-self: center;
      }

      & > li.seperator,
      & > li:last-child {
        grid-column-end: span 5;
      }

      & > li[class] {
        font-weight: 600;
      }

      & > li.item-name > * {
        color: inherit;
      }

      & > li.item-price {
        color: var(--midgray);
        font-size: smaller;
      }

      & > li.item-quantity {
        color: var(--midgray);

        & > button {
          background-color: var(--primary);
          width: 24px;
          color: #fff;
          clip-path: circle();
        }
      }

      & > li:last-child {
        font-weight: 700;
        display: flex;
        gap: 16px;
        align-self: self-end;

        input {
          text-align: justify;
          font-size: small;
          flex-grow: 1;
          max-width: 400px;
          font-weight: 300;
          border-radius: 24px;
          border-color: #bedcf1;
          background-color: #fff;
        }

        button {
          background-color: var(--primary);
          color: #fff;
          font-size: 14px;
          font-weight: 200;
          border-radius: 24px;
        }
      }
    }

    & > div {
      border: 1px solid #f8f8f8;
      border-radius: 24px;
      flex: 1 0 30%;
      border: 1px solid #f8f8f8;
      border-radius: 24px;

      & > h5 {
        border-bottom: 1px solid #f8f8f8;
        color: var(--primary);
      }

      & > div {
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid #f8f8f8;
      }

      span {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: var(--primary);

        & > samp {
          font-weight: normal;
          font-family: inherit;
          color: var(--midgray);
        }
      }

      & > a {
        background-color: var(--primary);
        border-radius: 24px;
        color: #fff;
        font-size: medium;
        font-weight: 300;
      }
    }
  }
}
=======
main {
  & > #cart-breadcrumb {
    color: var(--midgray);

    & > li:last-child {
      color: #bdbdbd;
    }
  }

  & > #cart {
    & > ul {
      flex: 1 0 65%;
      color: var(--primary);
      border: 1px solid #f8f8f8;
      border-radius: 24px;
      grid-template-columns: max(30px, 23%) repeat(4, 1fr);
      grid-template-rows: max-content;

      hr {
        border-color: #f8f8f8;
        opacity: 1;
      }

      & > li {
        align-self: center;
      }

      & > li.seperator,
      & > li:last-child {
        grid-column-end: span 5;
      }

      & > li[class] {
        font-weight: 600;
      }

      & > li.item-name > * {
        color: inherit;
      }

      & > li.item-price {
        color: var(--midgray);
        font-size: smaller;
      }

      & > li.item-quantity {
        color: var(--midgray);

        & > button {
          background-color: var(--primary);
          width: 24px;
          color: #fff;
          clip-path: circle();
        }
      }

      & > li:last-child {
        font-weight: 700;
        display: flex;
        gap: 16px;
        align-self: self-end;

        input {
          text-align: justify;
          font-size: small;
          flex-grow: 1;
          max-width: 400px;
          font-weight: 300;
          border-radius: 24px;
          border-color: #bedcf1;
          background-color: #fff;
        }

        button {
          background-color: var(--primary);
          color: #fff;
          font-size: 14px;
          font-weight: 200;
          border-radius: 24px;
        }
      }
    }

    & > div {
      border: 1px solid #f8f8f8;
      border-radius: 24px;
      flex: 1 0 30%;
      border: 1px solid #f8f8f8;
      border-radius: 24px;

      & > h5 {
        border-bottom: 1px solid #f8f8f8;
        color: var(--primary);
      }

      & > div {
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid #f8f8f8;
      }

      span {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: var(--primary);

        & > samp {
          font-weight: normal;
          font-family: inherit;
          color: var(--midgray);
        }
      }

      & > a {
        background-color: var(--primary);
        border-radius: 24px;
        color: #fff;
        font-size: medium;
        font-weight: 300;
      }
    }
  }
}
>>>>>>> 8828f8872f24d5af85ad0af7e8efc7f7c81bcb4c
