.pac-container.pac-logo {
  max-width: 653px;
  direction: rtl;

  & > .pac-item {
    text-align: start !important;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
}

#new-address {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.15s ease-out;
  z-index: 3;

  &[data-show="true"] {
    opacity: 1;
    visibility: visible;

    & > .container {
      transform: rotateX(0deg);
    }
  }

  & > .dismiss {
    background-color: #0003;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  & > .container {
    overflow: hidden;
    width: min(100%, 760px);
    transform: rotateX(90deg);
    background-color: #fff;
    z-index: 2;
    justify-items: stretch;
    scale: 0.9;
    border-radius: 8px;
    transition: inherit;

    & > button {
      background-color: var(--primary);
      color: #fff;
      max-width: 480px;
      width: 100%;
      border-radius: 24px;
    }
  }

  label {
    display: grid;
    gap: 0.65rem;

    & > [role] {
      text-align: start;
      outline: none;
      border-color: #92a9c4;
    }
  }
}

#settings,
#settings-mobile {
  .langs {
    position: relative;

    & > ul {
      visibility: hidden;
      background-color: #fff;
      position: absolute;
      top: 100%;
      border: 1px solid #d4e8f6;
      border-radius: 6px;
      opacity: 0;
      transform: translateY(50%);
      transition: 150ms ease-out;
    }

    &:hover > ul {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);

      & > li:hover {
        background-color: #d4e8f6;
      }
    }
  }
}

#settings {
  #menu {
    li {
      a,
      button {
        border-radius: 8px;
        text-align: unset;
        min-height: 45px;
        color: var(--primary);
        grid-template-columns: 72px 1fr;

        &:not(button):hover,
        &.active {
          background-color: #d4e8f6;
        }

        svg path {
          stroke: currentColor;
        }

        img,
        svg {
          margin-left: auto;
          margin-right: auto;
        }
      }

      button {
        color: var(--bs-danger);
      }
    }
  }
}

#settings-mobile {
  & > #personal {
    font-weight: 600;
    background-color: #fbfbfb;
    color: var(--primary);
    font-size: larger;

    & > img {
      shape-outside: circle();
    }

    & > .info > span {
      line-height: 1.6;

      &:first-child {
        margin-bottom: 6px;
      }

      &:not(:first-child) {
        font-size: small;
        color: var(--midgray);
      }
    }
  }

  & > ul#mobile-menu {
    color: var(--primary);
    font-weight: 600;
    row-gap: 16px;

    a {
      aspect-ratio: 1/1;
      border: 2px solid #a6cee8;
      border-radius: 24px;
      text-decoration: none;
      color: inherit;
    }
  }

  & > button {
    display: block;
    position: sticky;
    bottom: 120px;
    margin: 0 auto;
    border-radius: 24px;
    width: 70%;
    background-color: var(--primary);
    color: #fff;
    z-index: 9;
  }
}
