aside {
  border-bottom: 1px solid #bdbdbd;

  ul {
    text-align: center;

    li {
      flex-grow: 1;
      font-size: larger;
      font-weight: 600;
      color: var(--midgray);

      &.active {
        background-color: #fffdf4;
        color: var(--primary);
      }

      & > a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

#design {
  & > ul {
    color: var(--midgray);

    & > li:last-child {
      color: #bdbdbd;
    }
  }

  & > form {
    & > div {
      flex-grow: 1;
      min-height: 300px;
      color: var(--primary);
      // max-width: 480px;

      & > img {
        max-height: 425px;
        aspect-ratio: 1/1;
        background-size: contain;
        filter: brightness(0.7);
      }

      & > input {
        display: none;
      }

      & > label {
        border-bottom: 1px solid;
      }
    }

    & > ul {
      padding: 0;
      flex-grow: 1;
      max-width: 650px;

      & > li {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        color: var(--midgray);

        & > .title {
          color: var(--primary);
        }

        & > .title {
          font-size: larger;
          font-weight: 700;
          width: 100%;
        }

        & > .btn {
          border: 1px solid currentColor;
          background-color: transparent;
          color: var(--midgray);
          font-weight: 600;
          border-radius: 24px;

          &:hover,
          &[data-active="true"] {
            background-color: #a3d0eb;
            border-color: transparent;
            color: var(--primary);
          }
        }

        & > input[type="text"] {
          text-align: start;
          width: 100%;
        }
      }

      & > li:last-child {
        & > button {
          border: 0;
          background-color: var(--primary);
          color: #fff;

          &:not(:last-of-type) {
            clip-path: circle();
          }

          &:last-of-type {
            border-radius: 24px;
            padding: 0.25rem 0.75rem;
          }
        }

        & > span {
          color: var(--primary);
          font-weight: 600;
        }
      }
    }
  }
}

#notes {
  min-height: 100px;
}
