.swiper-slide:has(.product-item) {
  height: auto;
  width: auto;
}

div.product-item {
  &.loading {
    pointer-events: none;

    &::after {
      content: "";
      background: rgba(255, 255, 255, 0.781)
        url("https://mon10.amir-adel.com/assets/loader.gif") no-repeat center;
      background-size: cover;
      position: absolute;
      display: block;
      clear: both;
      z-index: 3;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

  height: 100%;
  width: 252px;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #f8f8f8;
  gap: 12px 0;

  --btn-opacity: 0.9;
  --hover-length: -50px;

  & > div:first-child {
    height: 28px;
    & > span {
      background-color: #ffcd00;
      color: #fff;
      padding: 6px 12px;
      border-radius: 26px;
      line-height: 1;
      font-weight: 500;
    }

    & > img {
      cursor: pointer;
      margin-right: auto;
    }
  }

  & > span {
    font-weight: 500;
  }

  & > a {
    &:hover .desc {
      transform: translateY(var(--hover-length));
    }

    & > img {
      height: 200px;
      display: block;
    }

    & > .desc {
      color: var(--primary);
      transition: transform var(--hover-transition);
      transform: translate(0);
      background-color: #fff;

      & > span:first-child {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
      }

      & > .rate {
        color: var(--midgray);

        & > object {
          margin-left: 4px;
        }

        & > span {
          margin-right: auto;
          background-color: #e4f4ff;
          padding: 8px 14px;
          line-height: 1;
          border-radius: 27px;
          color: var(--primary);
        }
      }

      & > .price {
        color: var(--midgray);
        font-size: 1.1rem;

        & > span {
          color: #a8d0ec;
        }
      }

      & > button {
        transition: all var(--hover-transition);
        margin-bottom: var(--hover-length);
        background-color: var(--primary);
        color: #fff;
        opacity: var(--btn-opacity);
        font-size: 16px;
        max-height: var(--btn-height);
        overflow: hidden;

        & > * {
          height: var(--btn-height);
          flex-shrink: 0;
          position: relative;
        }

        & > span {
          width: 100%;
          transition: margin-top var(--hover-transition);
        }

        &:hover {
          --btn-opacity: 1;
          & > span:first-child {
            margin-top: calc(0px - var(--btn-height));
          }
        }
      }
    }
  }
}
