#recommended,
#new-items {
  row-gap: 14px;
  text-wrap: nowrap;

  & > div.swiper {
    color: var(--primary);
    --hover-transition: 150ms ease-in-out;
    --btn-height: 38px;
    --translate-val: 100%;
    --controllers-opacity: 0;

    &:hover {
      --translate-val: 0;
      --controllers-opacity: 0.9;
    }

    & > [class^="swiper-button"] {
      width: unset;
      height: unset;
      background-color: var(--primary);
      border-radius: 4px;
      color: #ecf5ff;
      padding: 8px 10px;
      opacity: var(--controllers-opacity);
      transition: var(--hover-transition);

      &.swiper-button-prev {
        transform: translateX(var(--translate-val));
      }

      &.swiper-button-next {
        transform: translateX(calc(0% - var(--translate-val)));
      }

      &:hover {
        opacity: 1;
      }

      &::after {
        font-size: 20px;
      }
    }

    & > .swiper-wrapper {
      align-items: stretch;
      margin: 0 0 2rem;

      object {
        max-height: 24px;
        cursor: pointer;
      }

      & > .swiper-slide {
        width: auto;
      }
    }
  }
}
