body {
  user-select: none;
  --hover-transition: 150ms ease-in-out;
  --btn-height: 38px;
  --translate-val: 100%;
  --controllers-opacity: 0;

  --bs-body-font-family: "Cairo", sans-serif;
  --font-light: 400;
  --font-bold: 900;
  --section-gap: clamp(40px, 5vh, 60px);
  --internal-gap: 38px;

  font-variation-settings: "slnt" 0;
  /* font-size: var(--bs-body-font-size); */
  /* --bs-body-font-weight: ; */
  /* line-height: 150%; 3rem */

  /*  */
  --primary: #0b4368;
  --sec: #ffcd00;
  --midgray: #777777;
  --lightgray: #bdbdbd;
  --black: #282828;
  --yellow: #ffcd00;

  --gradient-1: radial-gradient(
    92.18% 99.11% at 26.56% 107.7%,
    #ffdd55 0%,
    #ffdd55 10%,
    #ff543e 50%,
    #c837ab 100%
  );
  --gradient-3: radial-gradient(
    179.06% 43.44% at -16.75% 7.2%,
    #3771c8 0%,
    #3771c8 12.8%,
    rgba(102, 0, 255, 0) 100%
  );
  --gradient-3: linear-gradient(0deg, #f9f9f9 -9900%, #ffffff 100%);
  --gradient-4: linear-gradient(0deg, #1faf38 -9900%, #60d669 100%);
}

progress {
  width: 100%;
  max-width: 200px;
  height: 8px;
  border-radius: 24px;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #bdbdbd;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #ffcd00;
  border-radius: 10px 0 0 10px;
  transition: width 0.2s ease;
}

progress::-moz-progress-bar {
  background-color: #ffcd00;
  border-radius: 10px 0 0 10px;
  transition: width 0.2s ease;
}

.swiper {
  color: var(--primary);

  &:hover {
    --translate-val: 0;
    --controllers-opacity: 0.9;
  }

  & > [class^="swiper-button"] {
    width: unset;
    height: unset;
    background-color: var(--primary);
    border-radius: 4px;
    color: #ecf5ff;
    padding: 8px 10px;
    opacity: var(--controllers-opacity) !important;
    transition: var(--hover-transition);

    &.swiper-button-prev {
      transform: translateX(var(--translate-val));
    }

    &.swiper-button-next {
      transform: translateX(calc(0% - var(--translate-val)));
    }

    &:hover {
      opacity: 1;
    }

    &::after {
      font-size: 20px;
    }
  }

  & > .swiper-wrapper {
    align-items: stretch;
    margin: 0 0 2rem;

    object {
      max-height: 24px;
      max-width: 24px;
      cursor: pointer;
    }
  }
}

img,
object,
embed {
  max-width: 100%;
  max-height: 100%;
}

#root {
  user-select: none;
}

footer {
  border-top: 3px solid currentColor;
  font-weight: 500;

  & > p {
    color: var(--midgray);
    text-align: center;
  }

  & > div {
    color: var(--primary);
    & > div {
      &:first-child {
        row-gap: 2rem;

        & > div {
          &:first-child > img {
            max-width: 86px;
          }

          &:nth-child(2) > a {
            color: inherit;
          }

          &:nth-child(3) > a {
            color: var(--midgray);
          }

          &:nth-child(4) > ul {
            list-style: none;
            color: var(--midgray);
          }
        }
      }
    }
  }
}

#policy {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  gap: 1rem;

  & > a {
    color: var(--primary);
  }

  & > img {
    order: -1;
    grid-column-start: span 3;
    max-width: 330px;
    justify-self: center;
  }
}
